html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

#container {
  z-index: 1;
  position: relative;
}

#container a {
  color: black;
  text-decoration: none;
}

.mute-audio {
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
  height: 25px;
  background: #fc0280;
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 100px;
  background: white;
  border-radius: 12.5px;
}
